html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #b3e5fc;*/

}

/*"Segoe UI", "Roboto", "Oxygen",*/
/*"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue"*/


header {
  /*background: url(/img/background.jpg) no-repeat;*/

  /*background-size: cover;*/
  /*background-position: center;*/
  /*!*background-color: #95e8f3;*!*/
  /*min-height: 1000px;*/
}
/*@media screen and (max-width: 670px){*/
  /*header{*/
    /*background-size: cover;*/
    /*min-height: 900px ;*/
  /*}*/
/*}*/

/*Socials login buttons styles*/

.navbar {
  /*position: absolute;*/
}

.nav-wrapper {

  background-color: #393939;
}

/*Meetup summary styles*/
.meetup-summary {
  background-color: white;
}

/*Meetup likes styles*/
.like-disabled {
    color: red !important;
    /*background-color: #00A16B*/
}
.nav-social-media {
  background-color: #00A16B
}

.f {
  color: black;
  background-color: #00A16B
}
.nav-logo-first-word {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  sans-serif;
  color: white;


  text-shadow:
          3px 3px 0 #3f3f3f,
          4px 4px 0 #303030,
          5px 5px 0 #292929,
          6px 6px 0 #212121;

  /*text-shadow: 2px 2px black;*/
}
.nav-logo-last-word {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  sans-serif;
  color: #00A16B;
  text-shadow:
          3px 3px 0 #3f3f3f,
          4px 4px 0 #303030,
          5px 5px 0 #292929,
          6px 6px 0 #212121;
}

.nav-links {
  color: white;

  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  sans-serif;
}

/*Sidebar user view background*/
/*.background {*/
    /*background-size: contain;*/

/*}*/

/*Dashboard styles*/
.icon-meetup-forward {
    color: #00A16B;
}
.meetup-details-title {
    color: #2c2c2c;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;

}

.meetup-details-description {
    color: #2c2c2c;

    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
}

.meetup-details-title:hover
{

    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


.image-block {
    display:block;
    height:36rem;
    overflow:auto;
}

.video-block{
    display:block;
    height:27rem;
    overflow:auto;
}

.document-block {
    display:block;
    max-height:25rem;
    overflow:auto;
}

.comment-block {
    display:block;
    max-height:25rem;
    overflow:auto;
}

.send-comment {
    cursor: pointer;
}

.video-author {
    font-weight: bold;
}


/*.video-block div {*/
    /*padding: 0px;*/
    /*margin: 0;*/
/*}*/

.document-block ul {
    margin: 0;
}

i.icon-black {
  color: #00A16B ;
}

.document-delete-icon {
    color: red;
}
.document-buttons {
    display: flex;
}
.collection-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 0 !important;
}

.carousel .carousel-item {
   width: 300px;
   height: 300px;
   box-shadow:  #3f3f3f;
   text-shadow:
           3px 3px 0 #3f3f3f,
           4px 4px 0 #303030,
           5px 5px 0 #292929,
           6px 6px 0 #212121;
 }
.carousel .carousel-item img {
  cursor: pointer;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  text-shadow:
          3px 3px 0 #3f3f3f,
          4px 4px 0 #303030,
          5px 5px 0 #292929,
          6px 6px 0 #212121;
}
.carousel .carousel-item img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

/*Comments styles*/
.ant-avatar img {
    width: 50px;
}
.ant-comment-nested {
    margin-left: 100px;
}
.ant-comment-inner {
    display: flex;
}
.ant-comment-actions {
    display: flex;
    justify-content: space-between;
}

iframe {
  width: 100%; height: 100%; border: none;
}

.events {
    list-style: none;
    margin: 0;
    padding: 0;
}
.events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
}
.notes-month {
    text-align: center;
    font-size: 28px;
}
.notes-month section {
    font-size: 28px;
}

.ant-fullcalendar-table {
    background-color: #00A16B;
}

.calendar-title,
.calendar-title-icon {
    color: white;
}


/*Scrollbar styles */
::-webkit-scrollbar {
  width: 2px;
  overflow: hidden;

}
::-webkit-scrollbar-button {
  width: 5px;
  height: 0px;

}
::-webkit-scrollbar-track {
  background-color: white;

}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: darkgray;

}
::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}
::-webkit-resizer {
  width: 4px;
  height: 0px;

}



form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: red;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: red !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
fixed-action-btn {
  width:200px !important;
}
.btn-floating.halfway-fab {
  background: none !important;
  box-shadow: none !important;
}
.btn-floating i {
  color: red!important
}
.btn-floating.halfway-fab {
  position: absolute;
  top: 130px;
}
body{
  background: whitesmoke
}
/* .card .card-content {
  background: rgb(243, 245, 155);
} */
.card .card-content p {
  color: black;
}
.grey-text{
  font-weight: 900
}
.dashboard{
  margin-top: 3vh;
}
.fixed {
  position: fixed;
  top:0;
  z-index: 10000;
}
#root {
  margin-top: 10vh;
}
.modal {
  margin-top: 10vh;
}
.sdvig {
  margin-top: 25vh;
}
.comment {
  margin-top: 3vh!important;
  padding: 0!important
}
.comments{
  margin-bottom: 0;
}
.commentbutton {
  position: absolute;
  top: 10%;
  left: 90%;
}
.section{
  background: white!important
}
.deleteIcon{
  color:red
}
.updateIcon {
  position: relative;
  top: 0;
  left: 6vw;
  color: darkblue;
}
.addFileIcon {
  position: relative;
  top: -9.5vh;
  left: 12vw;
  color:green
}
.rowicon {
  height: 0vh;
}